/* Style pour le titre de la liste des projets */
h3 {
  color: #1e3a56; /* Bleu marine */
  display: inline-block; /* Permet de définir une largeur et d'ajuster la marge */
  margin-right: 20px; /* Marge à droite pour séparer du bouton */
}

/* Style pour le bouton "Ajouter Projet" */
.btn-add-projet {
  background-color: #007bff; /* Bleu clair */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Ajustement de la marge à droite */
}

/* Style pour le tableau */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style pour l'en-tête du tableau */
.table th {
  background-color: #1e3a56; /* Bleu marine */
  color: white;
  padding: 12px; /* Ajustement du padding pour l'en-tête */
  text-align: left;
}

/* Style pour les lignes du tableau */
.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Style pour les lignes de données dans le tableau */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur de fond gris clair pour les lignes paires */
}

/* Style pour les boutons "Supprimer" et "Editer" */
.btn-danger, .btn-primary {
  background-color: #dc3545; /* Rouge pour "Supprimer" et Bleu clair pour "Editer" */
  color: white;
  padding: 6px 12px; /* Ajustement du padding pour les boutons d'action */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px; /* Marge à droite pour l'espacement entre les boutons */
}

/* Style pour les boutons d'action au survol */
.btn-danger:hover, .btn-primary:hover {
  opacity: 0.8;
}
