/* Style pour le conteneur du formulaire */
.col-md-6 {
  margin-top: 20px;
}

/* Style pour le titre du formulaire */
h3 {
  color: #1e3a56; /* Bleu marine */
  text-align: center;
  margin-bottom: 20px;
}

/* Style pour les étiquettes des champs */
label {
  font-weight: bold;
  color: #1e3a56; /* Bleu marine */
}

/* Style pour les champs de formulaire */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da; /* Bordure grise */
  border-radius: 4px;
}

/* Style pour le bouton de soumission */
.btn-success {
  background-color: #28a745; /* Vert */
  color: #ffffff; /* Texte blanc */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style pour le bouton de soumission au survol */
.btn-success:hover {
  background-color: #218838; /* Vert plus foncé */
}
